/*
 * Base structure
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  color: #fff;
  background-color: #414141;
}

/* body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%) no-repeat;
  opacity: 0.8;
  z-index: -1;
} */

.main {
  max-width: 80vw;
  margin: auto;
}

/*
 * NAVBAR
 */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 30px;
  padding: 10px;
}

.nav-logo {
  font-size: 2rem;
}

.nav-items {
  margin: 1rem;
}

.nav-link {
  margin: auto 0.5rem;
  border: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  font-size: 1.15rem;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-items .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * HOME
 */
.home-content {
  text-align: center;
}

.home-content .home-title {
  margin: 10px auto;
  padding: 5px;
}

.home-content .home-text {
  text-align: justify;
  margin: 10px auto;
  padding: 20px;
  line-height: 30px;
  animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.span-bold {
  font-weight: bold;
  color: #9a9a9a;
}
/*
 * EXPERIENCE
 */

.main-experience {
  text-align: center;
}
.experience-title {
  margin: 1.5rem auto;
}
.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: '';
  display: block;
  clear: both;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px;
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px;
}

.main-timeline .timeline:hover .icon:before {
  left: 3px;
}

.main-timeline .timeline:hover .icon:after {
  left: -3px;
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
}

.main-timeline .date-content:before {
  content: '';
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: '';
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px;
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px;
}

.main-timeline .timeline:nth-child(odd) {
  animation-name: left-to-right;
  animation-duration: 3s;
}
@keyframes left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.main-timeline .timeline:nth-child(even) {
  animation-name: right-to-left;
  animation-duration: 3s;
}
@keyframes right-to-left {
  from {
    transform: translateX(+100%);
  }
  to {
    transform: translateX(0);
  }
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0;
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700;
  color: #232323;
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
  text-align: center;
}

.main-timeline .description {
  margin-bottom: 0;
  text-align: justify;
}

.main-timeline .bullet-point {
  margin: 10px auto;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right;
}

/*
 * PROJECTS
 */

.main-projects {
  text-align: center;
}

.projects-title,
.demos-title {
  margin: 0.25rem auto;
  padding: 5px;
}

.project-title,
.demo-title {
  margin: 0.25rem;
  padding: 10px;
}

.project-container,
.demo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-item,
.demo-item {
  margin: 2rem;
  padding: 2px;
}

.project-description,
.demo-description {
  margin: 0.5rem;
  padding: 2px;
  text-align: justify;
}

.project-link,
.demo-link {
  display: block;
  width: 50%;
  color: #fff;
  text-decoration: none;
  border: 2px solid #9e9d89;
  margin: 1rem auto;
  padding: 5px;
  border-radius: 10px;
}

.project-link:hover,
.demo-link:hover {
  background-color: #808080;
  border: transparent;
}

.project-container .project-item:nth-child(odd),
.demo-container .demo-item:nth-child(odd) {
  animation-name: left-animation;
  animation-duration: 2.5s;
}
@keyframes left-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.project-container .project-item:nth-child(even),
.demo-container .demo-item:nth-child(even) {
  animation-name: right-animation;
  animation-duration: 2.5s;
}
@keyframes right-animation {
  from {
    transform: translateX(+100%);
  }
  to {
    transform: translateX(0);
  }
}

/*
 * FOOTER
 */

.footer-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer-section ul {
  list-style-type: none;
}

.footer-items {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.footer-items li a {
  font-size: 2.5rem;
  color: #fff;
}

.footer-items li a:hover {
  color: #9a9a9a;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #9e9d89;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
}

/*
 * MEDIA QUIERIES TABLETS
 */

@media (max-width: 1024px) and (min-width: 750px) {
  .project-item img,
  .demo-item img {
    max-width: 100%;
  }

  .project-title,
  .demo-title {
    height: 70px;
    align-items: center;
  }
}

/*
 * MEDIA QUIERIES SMARTPHONES
 */
@media (max-width: 750px) {
  /*
 * Navbar
 */
  .nav-header {
    align-items: center;
    flex-direction: column;
  }
  .nav-logo {
    font-size: 1.75rem;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .nav-items {
    margin: 0.5rem;
  }

  /*
 * Home
 */

  /*
 * Experience
 */

  /*
 * Projects
 */

  .project-container,
  .demo-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .project-container img,
  .demo-container img {
    width: 100%;
  }

  /*
 * Footer
 */
  .footer-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer-items li a {
    font-size: 1.5rem;
  }
}
